::-webkit-scrollbar {
  display: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
}

.btn {
  all: unset;
  position: relative;
  font-size: 6rem;
  font-family: "Poor Story", cursive;
  letter-spacing: -2px;
  word-spacing: 2px;
  text-shadow: 0px 0px 5px white;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  z-index: 999;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
  text-shadow: 0px 0px 6px #333;
}

.Surbtn {
  all: unset;
  position: relative;
  font-size: 5.2rem;
  font-family: "Poor Story", cursive;
  letter-spacing: -2px;
  word-spacing: 2px;
  text-shadow: 0px 0px 5px white;
  -webkit-transition: all .5s;
  transition: all .5s;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  z-index: 999;
}

.Surbtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
  text-shadow: 0px 0px 6px #333;
}

.Surbtn .ctnr {
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  left: 50%;
  top: 50%;
  width: 180%;
  height: 180%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.ActiveSurbtn {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
  text-shadow: 0px 0px 6px #333;
}

.ActiveSurbtn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: white;
  text-shadow: 0px 0px 6px #333;
}

.Title {
  all: unset;
  font-size: 20rem;
  font-family: 'Poor Story', cursive;
  letter-spacing: -2px;
  word-spacing: 2px;
  text-shadow: 0px 0px 5px white;
  font-weight: bold;
  margin-top: 140px;
  color: #333;
  cursor: pointer;
  margin-bottom: 300px;
  z-index: 99;
}

.introTitle {
  all: unset;
  font-size: 6rem;
  color: #333;
  font-family: "Poor Story", cursive;
  letter-spacing: -2px;
  word-spacing: 2px;
  text-shadow: 0px 0px 2px #333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
  line-height: 160%;
}

.qusTitle {
  all: unset;
  font-size: 6rem;
  color: #333;
  font-family: "Poor Story", cursive;
  letter-spacing: -2px;
  word-spacing: 2px;
  text-shadow: 0px 0px 2px #333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
  line-height: 120%;
  margin-left: 22rem;
}

.LeftFadeIn {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.RightFadeIn {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.TopFadeIn {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.BottomFadeIn {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.LeftFadeOut {
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.RightFadeOut {
  opacity: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.TopFadeOut {
  opacity: 0;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
}

.BottomFadeOut {
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.PageAniOn {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
  z-index: 999;
}

.PageAniOff {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
  z-index: -999;
}

.LoadingSec {
  position: fixed !important;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 100vh;
  background-color: #ececec;
  z-index: 999;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.LoadingSec lottie-player {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%) scale(4);
          transform: translate(-50%, -50%) scale(4);
}

.LoadingSec .LoadingSpan {
  position: absolute;
  text-align: center;
  max-width: 860px;
  width: 100%;
  display: block;
  left: 50%;
  top: 80%;
  font-size: 6rem;
  color: #333;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'Dongle', sans-serif;
  font-weight: bold;
}

.Ani {
  -webkit-animation: 1s ani ease-in-out;
          animation: 1s ani ease-in-out;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
}

@-webkit-keyframes ani {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    z-index: 999;
  }
  20% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    z-index: 999;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    z-index: 999;
  }
}

@keyframes ani {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    z-index: 999;
  }
  20% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    z-index: 999;
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    z-index: 999;
  }
}

.back {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: .4;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.flipBack {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: .4;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.TopBack {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: .4;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#Sec1, #Sec2 {
  position: relative;
  width: 100%;
  background-color: #ececec;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#Sec1 .MainBouble, #Sec2 .MainBouble {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: .5;
}

#Sec1 .inner, #Sec2 .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#Sec1 .inner .ctnr, #Sec2 .inner .ctnr {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 60rem;
  height: 30rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 88;
}

#Sec1 .inner .ctnr2, #Sec2 .inner .ctnr2 {
  position: absolute;
  left: 50%;
  top: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 140rem;
  height: 140rem;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#Sec1 .inner .ctnr2 svg, #Sec2 .inner .ctnr2 svg {
  position: absolute;
}

.arrowRight {
  all: unset;
  position: fixed;
  right: -1%;
  top: 50%;
  width: 10rem;
  height: 10rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1002;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.arrow {
  all: unset;
  position: fixed;
  right: -1%;
  top: 50%;
  width: 20rem;
  height: 20rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1001;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.Boom {
  all: unset;
  position: fixed;
  right: -1%;
  top: 50%;
  width: 40rem;
  height: 40rem;
  -webkit-transform: translate(25%, -50%);
          transform: translate(25%, -50%);
  z-index: 1000;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.arrowLeft {
  all: unset;
  position: fixed;
  right: 89%;
  top: 50%;
  width: 10rem;
  height: 10rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1002;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.Leftarrow {
  all: unset;
  position: fixed;
  right: 89%;
  top: 50%;
  width: 20rem;
  height: 20rem;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  z-index: 1001;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.LeftBoom {
  all: unset;
  position: fixed;
  right: 89%;
  top: 50%;
  width: 40rem;
  height: 40rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.UnderMain {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  opacity: 0;
  -webkit-transition: all 1s !important;
  transition: all 1s !important;
  white-space: nowrap;
}

.UnderMain #Sec1,
.UnderMain #Sec2 {
  width: 100vw;
}

.UnderMain #Sec1 .inner,
.UnderMain #Sec2 .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.UnderMain #Sec1 .inner .back,
.UnderMain #Sec2 .inner .back {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.UnderMain #Sec1 .inner div,
.UnderMain #Sec2 .inner div {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.UnderMain #Sec1 .inner div .leftTop,
.UnderMain #Sec2 .inner div .leftTop {
  position: absolute;
  left: 10%;
  top: 10%;
  text-align: left;
}

.UnderMain #Sec1 .inner div .rightTop,
.UnderMain #Sec2 .inner div .rightTop {
  position: absolute;
  right: 10%;
  top: 10%;
  text-align: right;
}

.UnderMain #Sec1 .inner div .center,
.UnderMain #Sec2 .inner div .center {
  position: absolute;
  right: 50%;
  top: 10%;
  text-align: right;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.UnderMain #Sec1 .inner div .Bottom,
.UnderMain #Sec2 .inner div .Bottom {
  position: absolute;
  bottom: 10%;
  right: 50%;
  width: 100% !important;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

#Sec2 {
  background-color: #F3F3F3;
}

.Section4 .inner {
  -ms-grid-columns: 1fr !important;
      grid-template-columns: 1fr !important;
  -ms-grid-rows: (1fr)[2] !important;
      grid-template-rows: repeat(2, 1fr) !important;
}

.Section4 .inner .right .LottieRotate {
  position: absolute;
  display: block;
  width: 28rem;
  height: 14rem;
  left: 50%;
  bottom: 68%;
  -webkit-transform: translateX(-50%) scale(6);
          transform: translateX(-50%) scale(6);
}

.Section4 .inner .right .LottieRotate2 {
  position: absolute;
  display: block;
  width: 28rem;
  height: 28rem;
  cursor: pointer;
  left: 50%;
  bottom: 12%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.Section4 .inner .right .Dot {
  position: absolute;
  display: block;
  width: 0rem;
  height: 0rem;
  left: 50%;
  bottom: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #FF6868;
  border-radius: 50%;
  -webkit-transition: all 1.4s ease-in-out;
  transition: all 1.4s ease-in-out;
}

.Survey {
  position: absolute;
  display: none;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: -1004;
  opacity: 0;
}

.Survey .progressBar {
  position: absolute;
  top: 2%;
  left: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  width: 50%;
  height: 10px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1005;
}

.Survey .progressBar li {
  position: relative;
  width: 0%;
  height: 100%;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 3px #888;
          box-shadow: inset 2px 2px 3px #888;
  -webkit-transition: all .75s;
  transition: all .75s;
  background: -webkit-gradient(linear, left top, right top, from(#81ecec), to(#74b9ff));
  background: linear-gradient(to right, #81ecec, #74b9ff);
}

.Survey .Section {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.Survey .Section .inner {
  position: absolute;
  display: none;
  top: 0px;
  left: 50%;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 120px 0px 0px 0px;
  background: url(/FE/IMG/SuveyBack.jpg) repeat-y center;
  z-index: var(--j);
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.Survey .Section .inner .back {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100% !important;
}

.Survey .Section .inner .top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2rem 12rem 0rem 12rem;
}

.Survey .Section .inner .top lottie-player {
  position: absolute;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18rem;
  height: 18rem;
}

.Survey .Section .inner .middle {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  place-items: center;
  row-gap: 10rem;
  width: 80%;
  padding: 8rem 0rem 10rem 0rem;
  margin: 10rem auto 2rem auto;
}

.Survey .Section .inner .bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 40rem;
  overflow: hidden;
}

.Survey .Section .inner .bottom lottie-player {
  position: absolute;
  left: 0rem;
  top: -6rem;
  width: 100rem;
  height: 72rem;
}

.ResultLoading {
  display: none;
  opacity: 0;
  z-index: -1005;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.ResultLoading .ReLoading {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ResultLoading .ReLoading .Sofong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 12rem;
}

.ResultLoading .ReLoading .Sofong li {
  all: unset;
  font-size: 20rem;
  font-family: 'Poor Story', cursive;
  letter-spacing: -2px;
  word-spacing: 2px;
  text-shadow: 0px 0px 5px white;
  font-weight: bold;
  color: #333;
  z-index: 99;
  -webkit-animation: SofongLoading 2s infinite ease-in-out;
          animation: SofongLoading 2s infinite ease-in-out;
  -webkit-animation-delay: calc(.25s * var(--k));
          animation-delay: calc(.25s * var(--k));
}

@-webkit-keyframes SofongLoading {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes SofongLoading {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.ResultLoading .ReLoading .ReLottie {
  width: 50rem;
  height: 50rem;
  margin-top: 6rem;
}

.Result {
  display: none;
  opacity: 0;
  z-index: -1005;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.Result .ReResult {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Result .ReResult .Title {
  margin: 0px;
  margin-top: 3rem;
  font-size: 18rem;
  cursor: default;
}

.Result .ReResult span {
  display: block;
  color: #333;
  font-size: 5.2rem;
  font-family: 'Poor Story', cursive;
  font-weight: bold;
  letter-spacing: -2px;
  word-spacing: 4px;
  margin-top: 4rem;
}

.Result .ReResult .viedo {
  width: 90rem;
  height: 50rem;
  margin-top: 4rem;
}

.Result .ReResult p {
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  font-family: 'Poor Story', cursive;
  line-height: 3.2rem;
}

.Result .ReResult .shares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000%;
  -webkit-column-gap: 1.4rem;
          column-gap: 1.4rem;
  border-top: 3px double #2c3e5033;
  padding: 3.8rem 0;
}

.Result .ReResult .shares li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4.6rem;
  height: 4.6rem;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px #333;
          box-shadow: 2px 2px 5px #333;
  -webkit-transition: all .25s;
  transition: all .25s;
}

.Result .ReResult .shares li a img {
  width: 100%;
}

.Result .ReResult .shares li a:hover {
  -webkit-transform: translateY(-4%) scale(1.2);
          transform: translateY(-4%) scale(1.2);
}

.Result .ReResult .shares li:nth-child(1) a img {
  width: 70%;
}

.Result .ReResult .Surbtn {
  position: absolute;
  left: 50%;
  bottom: -8%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.Result .ReResult .Surbtn::after {
  content: '';
  position: absolute;
  left: -1.4rem;
  bottom: -.6rem;
  width: 0%;
  height: 3px;
  background-color: #333;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.Result .ReResult .Surbtn:hover {
  text-shadow: 2px 2px 5px white;
  -webkit-transform: translateX(-50%) scale(1.2) translateY(-4%);
          transform: translateX(-50%) scale(1.2) translateY(-4%);
}

.Result .ReResult .Surbtn:hover::after {
  width: 120%;
}

.Result .ReResult .Feedback {
  position: absolute;
  right: -22%;
  bottom: -14%;
  border-radius: 50%;
}

.Result .ReResult .Feedback .arrow {
  position: absolute;
  left: -60%;
  top: -20%;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.Result .ReResult .Feedback .FeedbackMailbox {
  width: 300px;
  height: 300px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html body {
  background-color: #ececec;
  overflow: hidden;
}

html body .screen {
  display: none;
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}
/*# sourceMappingURL=style.css.map */