
#Sec1, #Sec2 {
    position: relative;
    width: 100%;
    background-color: $MainColor1;
    transition: all .5s;

    .inner{
        position: relative;
        @include FlexMiddleLeft;
        flex-direction: column;
        max-width: 1280px;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        transition: all .5s;
        .ctnr{
            position: absolute;
            top: 10%;
            left: 50%;
            width: 60rem;
            height: 30rem;
            transform: translateX(-50%);
            z-index: 88;
        }
        .ctnr2{
            position: absolute;
            left: 50%;
            top: 75%;
            transform: translate(-50%, -50%);
            width: 140rem;
            height: 140rem;
            opacity: 0;
            transition: all .3s;
            svg{
                position: absolute;
            }
        }
    }
}

.arrowRight{
    all: unset;
    position: fixed;
    right: -1%;
    top: 50%;
    width: 10rem;
    height: 10rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1002;
    transition: all .5s;
}
.arrow{
    all: unset;
    position: fixed;
    right: -1%;
    top: 50%;
    width: 20rem;
    height: 20rem;
    transform: translateY(-50%);
    z-index: 1001;
    transition: all .5s;
}
.Boom{
    all: unset;
    position: fixed;
    right: -1%;
    top: 50%;
    width: 40rem;
    height: 40rem;
    transform: translate(25%, -50%);
    z-index: 1000;
    transition: all .5s;
}

// 왼쪽

.arrowLeft{
    all: unset;
    position: fixed;
    left: 4%;
    top: 50%;
    width: 10rem;
    height: 10rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 1002;
    transition: all .5s;
}
.Leftarrow{
    all: unset;
    position: fixed;
    left: -1%;
    top: 50%;
    width: 20rem;
    height: 20rem;
    transform: translateY(-50%) rotate(180deg);
    z-index: 1001;
    transition: all .5s;
}
.LeftBoom{
    all: unset;
    position: fixed;
    left: -1%;
    top: 50%;
    width: 40rem;
    height: 40rem;
    transform: translate(25%, 50%);
    z-index: 1000;
    transition: all .5s;
}

.UnderMain{
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0;
    transition: all 1s !important; 
    white-space: nowrap;
    #Sec1,
    #Sec2{
        width: 100vw;
        // 오른쪽
        .inner{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            div{
                position: relative;
                width: 100%;
                min-height: 100%;
                .leftTop{
                    position: absolute;
                    left: 10%;
                    top: 10%;
                    text-align: left;
                }
                .rightTop{
                    position: absolute;
                    right: 10%;
                    top: 10%;
                    text-align: right;
                }

                .Bottom{
                    position: absolute;
                    bottom: 10%;
                    right: 50%;
                    width: 100% !important;
                    transform: translateX(50%);
                }
            }
        }
    }
}

#Sec2{background-color: $MainColor2;};


// #Spe1{
//     img{
//         position: absolute;
//         left: 50%;
//         top: 50%;
//         width: 50%;
//         transform: translateX(-50%);
//     }
//     .hole{
//         position: absolute;
//         top: 80%;
//         left: 0px;
//         width: 80%;
//         height: 100px;
//         background-color: #555;
//         border-radius: 50%;
//         &::after{
//             content: '';
//             position: absolute;
//             width: calc(100% - 20%);
//             height: calc(100% - 40%);
//             top: 40%;
//             left: 10%;
//             background-color: #333;
//             border-radius: 50%;
//             overflow: hidden;
//             box-sizing: border-box;
//         }
//     }
// }